* {
  box-sizing: border-box;
}

body {
  background: #f3f3f3;
}

.App {
  font-family: system-ui;
  text-align: left;

  max-width: 360px;
  padding: 1rem;
  margin: 0 auto;
}

.AppTitle {
  font-size: 1.8rem;
  margin: 0 0 0.6rem;
  line-height: 2rem;
}

.AppDescription {
  margin: 0 0 2rem;
}

.bokeSummary {
  margin-top: 0.6rem;
}

.bokeSummary summary {
  text-decoration: underline;
}

.bokeButton {
  display: inline-flex;
  align-items: center;
  background-color: #cef;
  border: 2px solid #bde;
  border-radius: 5px;
  margin-top: 0.4rem;
  padding: 0.4rem;
}

.bokeButton img {
  max-width: 1.2rem;
  margin-right: 0.4rem;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

label span {
  margin-bottom: 5px;
}

label input {
  width: 100%;
  padding: 0.6rem;
  font-size: 1rem;
  position: relative;
  border-radius: 5px;
  border: 1px solid #666666;
  background-color: #fafafa;
}

label input:disabled {
  font-weight: bold;
  color: #000000;
}

label input:before {
  content: "$";
  position: absolute;
  top: 0;
  left: 0;
}

.balanceWrapper {
  /* padding: 1rem 0;
  border-top: 1px solid #000; */
}

.balanceWrapper .label {
}

.balanceWrapper .balance {
  display: block;
  font-size: 3rem;
  font-weight: bold;
}

.balanceWrapper .balance.bad {
  color: #993333;
}

.balanceWrapper .balance.good {
  color: #339933;
}

.balanceWrapper .balance.peso {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  padding: 0 0 1rem;
  border-bottom: 1px solid #000;
}

.balanceWrapper .pesos {
  display: block;
  margin-top: 1rem;
}

.balanceWrapper .pesoInput {
  width: 3rem;
}

.balanceWrapper .image {
  display: block;
  max-width: 100%;
  margin-top: 1rem;
}
